
.nav a{
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding-right:20px;
    padding-top:30px;
    text-align:right;
}

.nav li{
    display: inline-table;
    text-align: right;
}

.nav img{
    height: 50px;
    width: auto;
    margin-left: -1%;
    
}

.jumbotron {
    background-color: lightsteelblue; 
    margin-top: -5%;
}



.jumbotron h1,h2,h4{
    text-align: center;
}


.jumbotron p{
    text-align: center;
}

.collegeinfo {
    text-align:center;
    padding-right: 10%;
    padding-left: 20%;
}

ul{
    list-style-type: none;
}

.schools {
    text-align:center;
    padding-bottom: 100px;
   }
.schools {
    padding-bottom: 5px;
}


.rec {
    display: center;
    text-align: center;
    background-color: black;
    text-align:center;
    padding-left: 13%;
    padding-right: 13%;
}

.rec iframe{
    margin: 5%
}

.thumbnail{
    border:0;
    outline:none;
    position: center;
}

.container .thumbnail{
    padding-right: 25%;
}

.container h1{
    padding-right: 25%;
    text-align:center;
    
}

.contact_form{
    text-align: center;
}

.graphs{
    text-align: center;
    padding: 5%;    
}

.graphs h1{
    padding-bottom: 5%;
    margin-top: -10%;
    font-weight: bold;
}